streamlit==1.41.1
pandas==2.3.3
numpy
scikit-learn
plotly
pydantic
chromadb
sentence-transformers
ollama
shap
langgraph
pytest
joblib
python-dotenv
tornado==6.4.2
protobuf==5.29.3
altair==5.5.0
watchdog==6.0.0